{
  "presets": ["env"],
  "plugins": [
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ],
    ["module-resolver", {
      "alias": {
        "vue": "vue/dist/vue.esm.js",
        "pizzatools": "./plugins/tools.js"
      }
    }],
    // ["import", {
    //   "libraryName": "vux",
    //   "libraryDirectory": "src/components",
    //   "style": false
    // }, "vux"]

  ]
}